body {
    display: flex;
    align-items: center;
}

.main-content {
    display: block;
}

.pages-navigation {
    display: inline;
}

.content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 20%);
    grid-auto-columns: minmax(200px, 270px);
    grid-auto-rows: minmax(150px, auto);
    margin-left: auto;
    margin-right: auto;
}

.content-box {
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 260px 1fr 1fr;
    border: 1px solid black;
}

.content-box-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 0px;
    display: block;
}

.content-box-info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    height: auto;
    margin: 5px;
}

.content-box-type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    font-style: italic;
    margin: 5px;
}

.content-box-price {
    text-align: right;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 5px;
}

.pages-button {
    visibility: collapse;
}

@media screen and (max-width: 1500px) {
    .content {
        grid-template-columns: repeat(4, 25%);
    }
}

@media screen and (max-width: 1200px) {
    .content {
        grid-template-columns: repeat(3, 33%);
    }
}

@media screen and (max-width: 910px) {
    .content {
        grid-template-columns: 1fr;
    }

    .content-box {
        margin: 10px;
        display: grid;
        grid-template-columns: 160px 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content-box-info {
        grid-column: 2;
        grid-row: 1;
    }
    
    .content-box-type {
        grid-column-start: 2;
        grid-row: 2;
    }
    
    .content-box-price {
        grid-row: 1;
    }

    .content-box-image {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 150px;
        height: 150px;
        margin: auto;
        margin-left: 0px;
    }
}